  body{
    background: url("image4.jpg") fixed;
    background-size: 1600px;
  }
  h1{
    color:rgb(228, 230, 236);
  }
  h2{
    color:rgb(254, 254, 255);
  }
  form{
    padding: 60px;
    
    height: 370px;
    color:rgb(214, 200, 200);
  }
  
  box{
    position: absolute;
    align-items: center;
    font-size: larger;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(86, 86, 84, 0.829);
    padding: 10px;
    border-radius: 8px;
  }
  .up{
    margin-top: 10px;
  }
  
  nav{
    position:absolute;
    right: 0px;
    left: 0px;
    border-radius: 1px;
    background-color: black;
    height: 50px;
    
  }
  
  .button:hover{
    background-color: rgb(49, 206, 49);
  }

  .button1:hover{
    background-color: rgb(49, 206, 49);
  }
  
  .button{
   
    position:static;
    border-radius: 100%;
  
  }
  .button1
  {
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 90px;
    
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
  }
  .textfield1
  {
    margin-right: 5px;
  }
  .textfield2
  {
    margin-right: 21px;
  }
  .pass{
    margin-left: 90px;
  }